antlr4-python3-runtime==4.8
argparse-dataclass==0.2.1
blis==0.7.4
catalogue==2.0.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
Cython==0.29.22
hydra-core==1.0.6
idna==2.10
importlib-metadata==3.2.0
importlib-resources==5.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.6.1
numpy==1.20.1
omegaconf==2.0.6
packaging==20.9
pathy==0.4.0
portalocker==2.2.1
preshed==3.0.5
pycparser==2.20
pydantic==1.7.3
pyparsing==2.4.7
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
sacrebleu==1.5.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.1
thinc==8.0.2
torch==1.7.1
tqdm==4.57.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wasabi==0.8.2
zipp==3.4.0
