[dataset]
loader_name = ICSI
stage_num = 3


[stage1]
# dataset_segment
fine_grained = False
input_max_token = 1024
cores_used = 64

# generation
model = facebook/bart-large
beam=6
lenpen=2
max_len_b=450
min_len=150
no_repeat_ngram_size=3

[stage2]
# dataset_segment
fine_grained = False
input_max_token = 1024
cores_used = 64

# generation
model = facebook/bart-large
beam=6
lenpen=2
max_len_b=550
min_len=150
no_repeat_ngram_size=3

[stage3]
# dataset_segment
fine_grained = True
input_max_token = 1024
cores_used = 64

# generation
model = facebook/bart-large
beam=10
lenpen=2
max_len_b=900
min_len=400
no_repeat_ngram_size=3